span::before {
    content: '💪';

}
span::after {
    content: '🙈';

}
p::first-letter {
    color: rgb(252, 34, 1);
    font-size: 40px;
}
p::first-line {
    color: rgb(26, 73, 216);
}
p::selection {
    background-color: rgb(32, 190, 137);
}
ul li::marker {
    color: rgb(222, 109, 68);
}
input::placeholder {
    color: rgb(168, 120, 61);
    font-size: 10px;
}